extends layout

block content

	h3 Estimado #{usuario.nombre},

	p 
	| ¡Gracias por registrar a 
	b #{empresa.nombre}
	| al servicio de rutas empresariales!

	p 
	| Te invitamos a administrar el perfil de tu empresa 
	a(href='#{config.homeurl}') aquí
	| con los siguientes datos de usuario. 

	ul
		li: p Usuario: #{usuario.email}
		li: p Contraseña: #{usuario.password}

