extends layout

block content

	h3 Estimado #{usuario.nombre},

	p ¡Gracias por reservar tu asiento en Rutas Empresariales!

	p Confirmamos tu reservación con las siguientes características:

	ul
		li: p 
			| Folio de reservación: 
			b #{folioFmt(reservacion.id)}
		li: p 
			| Ruta: 
			b #{reservacion.rutum.nombre}
		li: p 
			| Fecha: 
			b #{fechaFmt(reservacion.fechaReservacion)}
		li: p 
			| Hora: 
			b #{reservacion.rutaCorrida.horaSalidaFmt}

	p 
	| Te recordamos que puedes ver o modificar tu reservación 
	a(href='#{config.homeurl}') aquí.

	
